<div class="bg-default p-a-1 text-xs-center">
  <h3>Registration User</h3>
</div>
<div class="bg-danger m-t-1 p-a-1 text-xs-center" 
      *ngIf="errorMessage != null">
  {{errorMessage}}
</div>
<div class="p-a-1">
  <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
      <div class="form-group">
          <label>Username</label>
          <input class="form-control" name="username" 
              [(ngModel)]="username" required />
      </div>
      <div class="form-group">
          <label>First Name</label>
          <input class="form-control" name="firstname" 
              [(ngModel)]="firstname" required />
      </div>
      <div class="form-group">
          <label>Last Name</label>
          <input class="form-control" name="lastname" 
              [(ngModel)]="lastname" required />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" name="email" 
            [(ngModel)]="email" required />
      </div> 
      <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" name="password" 
              [(ngModel)]="password" required />
      </div>
      <div class="form-group">
        <label for="sel1">Category</label>
        <select class="form-control" id="sel1" [(ngModel)]="type" name="type" >
          <option>Select one option</option>
          <option>Consumer</option>
          <option>Provider</option>          
        </select>
       </div>
       <div class="form-group">
        <label>Status</label>
        <input class="form-control" name="status" 
            [(ngModel)]="status" required />
       </div>

      <div class="text-xs-center">
          <button class="btn btn-secondary" routerLink="/">Go back</button> &nbsp;
          <button class="btn btn-primary" type="submit">Register</button>&nbsp;&nbsp;          
      </div>
  </form>
</div>
