
<div class="row">
    <div class="jumbotron">
            <div class="row">                    
                    <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-green">
                                                    <div class="panel-heading">
                                                            <div class="row">
                                                                    <div class="col-xs-3">
                                                                            <i class="fa fa-user fa-5x"></i>
                                                                    </div>
                                                                    <div class="col-xs-9 text-right">
                                                                            <div class="huge">12</div>
                                                                            <div>New Tasks!</div>
                                                                    </div>
                                                            </div>
                                                    </div>
                                                    <a href="#">
                                                            <div class="panel-footer">
                                                                    <span class="pull-left">View Details</span>
                                                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                                    <div class="clearfix"></div>
                                                            </div>
                                                    </a>
                                    </div>
                    </div>                                                   
    </div>
</div>
</div>  
<div class="row">                
    <div class="pull-right">
            <div class="col-md-8 col-sm-2">
                    <input type="text" (keyup)="search($event.target.value)" class="form-control"/>
            </div>
            <button class="btn btn-default" >Search</button>
    </div>
  </div>

<div class="row">
  <ul class="nav nav-tabs">
          <li><a routerLink="/home">Service</a></li>
          <li><a routerLink="/offer">Offers</a></li>
          <li ><a routerLink="/suggestion">Suggestions</a></li>                
          <li class="active"><a routerLink="/users">Users</a></li>                
  </ul>
</div> 

<div class="row">  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Username</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Type</th>
          <th>Status</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of filteredData">
                  <td>{{user.id}}</td>                                                                                  
                  <td>{{""}}</td>                                                                                  
                  <td>{{user.username}}</td>                                                                                  
                  <td>{{user.firstname}}</td>                                                                                  
                  <td>{{user.lastname}}</td>                                                                                  
                  <td>{{user.type}}</td>                                                                                  
                  <td>{{user.status}}</td>                                                                                  
                  <td>{{user.email}}</td>                                                                                  
                  <td>&nbsp;&nbsp;<i class="fa fa-check" (click)="able(user.id)" ></i>&nbsp;&nbsp;<i class="fa fa-times" (click)="disable(user.id)" ></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-edit" routerLink="/edit/{{user.id}}" ></i> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" (click)="delete(user.id)"></i></td>
          </tr>                        
      </tbody>  
    </table>
</div>