
<div class="row">
        <div class="jumbotron">
                <div class="row">
                        <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                        <div class="panel-heading">
                                                <div class="row">
                                                        <div class="col-xs-3">
                                                                <i class="fa fa-comments fa-5x"></i>
                                                        </div>
                                                        <div class="col-xs-9 text-right">
                                                                <div class="huge">26</div>
                                                                <div>New Comments!</div>
                                                        </div>
                                                </div>
                                        </div>
                                        <a href="#">
                                                <div class="panel-footer">
                                                        <span class="pull-left">View Details</span>
                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        <div class="clearfix"></div>
                                                </div>
                                        </a>
                                        </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                                        <div class="panel panel-green">
                                                        <div class="panel-heading">
                                                                <div class="row">
                                                                        <div class="col-xs-3">
                                                                                <i class="fa fa-tasks fa-5x"></i>
                                                                        </div>
                                                                        <div class="col-xs-9 text-right">
                                                                                <div class="huge">12</div>
                                                                                <div>New Tasks!</div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <a href="#">
                                                                <div class="panel-footer">
                                                                        <span class="pull-left">View Details</span>
                                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                                        <div class="clearfix"></div>
                                                                </div>
                                                        </a>
                                        </div>
                        </div>
                          
                        <div class="col-lg-3 col-md-6">
                                <div class="panel panel-yellow">
                                        <div class="panel-heading">
                                                <div class="row">
                                                        <div class="col-xs-3">
                                                                <i class="fa fa-shopping-cart fa-5x"></i>
                                                        </div>
                                                        <div class="col-xs-9 text-right">
                                                                <div class="huge">124</div>
                                                                <div>New Orders!</div>
                                                        </div>
                                                </div>
                                        </div>
                                        <a href="#">
                                                <div class="panel-footer">
                                                        <span class="pull-left">View Details</span>
                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        <div class="clearfix"></div>
                                                </div>
                                        </a>
                                </div>
                        </div>                                
                        <div class="col-lg-3 col-md-6">
                                        <div class="panel panel-red">
                                                <div class="panel-heading">
                                                        <div class="row">
                                                                <div class="col-xs-3">
                                                                        <i class="fa fa-support fa-5x"></i>
                                                                </div>
                                                                <div class="col-xs-9 text-right">
                                                                        <div class="huge">13</div>
                                                                        <div>Support Tickets!</div>
                                                                </div>
                                                        </div>
                                                </div>
                                                <a href="#">
                                                        <div class="panel-footer">
                                                                <span class="pull-left">View Details</span>
                                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                                <div class="clearfix"></div>
                                                        </div>
                                                </a>
                                        </div>
                                </div>    

        </div>
  </div>
</div>  

<div class="row">                
        <div class="pull-right">
                <div class="col-md-8 col-sm-2">
                        <input type="text" (keyup)="search($event.target.value)" class="form-control"/>
                </div>
                <button class="btn btn-default" routerLink="/add" >Add Service</button>
        </div>
</div>

<div class="row">
        <ul class="nav nav-tabs">
                <li class="active"><a routerLink="/home">Service</a></li>
                <li><a routerLink="/offer">Offers</a></li>
                <li><a routerLink="/suggestion">Suggestions</a></li>                
                <li><a routerLink="/users">Users</a></li>                
        </ul>
</div> 

<div class="row">

        <table class="table table-striped">
                <thead>
                        <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Notes</th>
                                <th>User</th>
                                <th>Actions</th>
                        </tr>
                </thead>                
                <tbody>
                        <tr *ngFor="let service of filteredData;let i = index">
                                <td>{{service.id}}</td>
                                <td>{{service.date}}</td>                                
                                <td>{{service.title}}</td>                                                                
                                <td>{{service.description}}</td>                                                                
                                <td>{{service.category}}</td>                                                                                                                                
                                <td>{{service.notes}}</td>
                                <td>{{service.user}}</td>                                                                                                
                                <td><i class="fa fa-eye" routerLink="/view/{{service.id}}" ></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-edit" routerLink="/edit/{{service.id}}" ></i> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" (click)="delete(service.id)"></i></td>
                        </tr>                        
                </tbody>
        </table>
</div>