<div class="row">
        <div class="jumbotron">
                <p>Dashboard</p>
        </div>
</div>  

<div class="row">                
        <div class="pull-right">
                <div class="col-md-7 col-sm-2">
                        <input type="text" (keyup)="search($event.target.value)" class="form-control"/>
                </div>
                <button class="btn btn-success" routerLink="/add" ><i class="fa fa-plus"></i>&nbsp;Add Service</button>
        </div>
</div>

<div class="row">
        <ul class="nav nav-tabs">
                <li class="active"><a routerLink="/home">Service</a></li>
                <li><a routerLink="/offer">Offers</a></li>
                <li><a routerLink="/suggestion">Suggestions</a></li>                
        </ul>
</div> 

<div class="row">

        <table class="table table-striped">
                <thead>
                        <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Notes</th>
                                <th>User</th>
                                <th>Actions</th>
                        </tr>
                </thead>                
                <tbody>
                        <tr *ngFor="let service of filteredData;let i = index">
                                <td>{{service.id}}</td>
                                <td>{{service.date}}</td>                                
                                <td>{{service.title}}</td>                                                                
                                <td>{{service.description}}</td>                                                                
                                <td>{{service.category}}</td>                                                                                                                                
                                <td>{{service.notes}}</td>
                                <td>{{service.user}}</td>                                                                                                
                                <td>
                                        <button class="btn btn-primary"><i class="fa fa-eye" routerLink="/view/{{service.id}}" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-warning"><i class="fa fa-edit" routerLink="/edit/{{service.id}}" ></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-danger"><i class="fa fa-trash" (click)="delete(service.id)"></i></button></td>
                        </tr>                        
                </tbody>
        </table>
</div>