<div class="row">
    <ul class="breadcrumb">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/view/{{this.id}}">View Service</a></li>    
      <li><a>Make Suggestion</a></li>    
    </ul>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">    
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you</h3>    
    <h4>According to your request</h4>
    <button class="btn btn-default" routerLink="/home" >Back</button>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
</div>